<h1>olá, <%= @resource.email %></h1>
<p>você solicitou um link para alterar sua senha, o que pode ser feito através do link a seguir.</p>
<p><%= link_to 'alterar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
<p>até logo!</p>